[mysqld]
server-id = 2
gtid-mode = ON
enforce-gtid-consistency = ON
log-bin = binlog
relay-log = relaylog
datadir = /var/lib/mysql
binlog_expire_logs_seconds = 259200
binlog_expire_logs_auto_purge = ON
max_binlog_size = 104857600
slow_query_log = 1
long_query_time = 1
slow_query_log_file = /var/lib/mysql/slow.log
max_connections = 1000
